hr {
    border-top: 10px solid #98dd8a;
}

.plant-list {
    padding-left: 5%;
    padding-right: 20%;
    
}

body {
    padding: 60px 0px;
    background-color: rgb(220, 220, 220);
}

.event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}


